* {
   margin: 0;
   padding: 0;
}


.navbar .navbar-brand .navbar-nav .nav-item .nav-link {
    color: whitesmoke;
}

header {
    display: block;
    background-image: url(img/header-02.jpg);
    width: auto;
    height: 384px;
}

article {
    float: left;
    margin: 30px 20px;
    width: 600px;
}

article h2, h3 {
    color: rgb(196, 191, 189);
    font-style: italic;
    letter-spacing: -0.05em;
    margin: 0 5px;
}

p,
li {
    font-size: 0.9em;
    text-align: justify;
    text-indent: 5%;
    color: #555;
    line-height: 1.8;
}


#apoio {
    float: right;
    width: 300px;
    margin-top: 30px;
}

footer {
    clear: both;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 5px;
    font-size: 0.75em;
    text-align: center;
    color: aliceblue;
    background-color: rgba(20, 20, 20, 0.582);
}